{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		# worker {$APP_PATH}{$DOCUMENT_ROOT}/index.php
		{$FRANKENPHP_CONFIG}
	}

	order mercure after encode
	order vulcain after reverse_proxy
	order php_server before file_server
	order php before file_server
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
	log {
		format filter {
			wrap console
			fields {
				uri query {
					replace authorization REDACTED
				}
			}
		}
	}

	root * {$APP_PATH}{$DOCUMENT_ROOT}
	encode zstd gzip

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	php_server
}

# Source: https://raw.githubusercontent.com/dunglas/frankenphp/main/caddy/frankenphp/Caddyfile
