################################################################################
# The setups in this file belong to the project https://code.shin.company/php
# I appreciate you respecting my intellectual efforts in creating them.
# If you intend to copy or use ideas from this project, please credit properly.
# Author:  SHIN Company <shin@shin.company>
# License: https://code.shin.company/php/blob/main/LICENSE
################################################################################

name: Publish S6

################################################################################
################################################################################

on:
  workflow_call:
    inputs:
      tag_prefix:
        required: false
        type: string
        default: ""
      build_all:
        required: false
        type: boolean
        default: false
  workflow_dispatch:

################################################################################
################################################################################

jobs:

  s6-overlay:
    if: ${{ inputs.build_all }}
    uses: ./.github/workflows/template-common.yml
    secrets: inherit
    with:
      app_name: "base-s6"
      os: "alpine"

  linux-s6:
    name: ${{ matrix.os == '' && 'debian' || matrix.os }}-s6
    uses: ./.github/workflows/template-common.yml
    secrets: inherit
    strategy:
      matrix:
        os:
          - ""
          - "ubuntu"
          - "alpine"
    with:
      app_name: "base-os"
      os: ${{ matrix.os }}
      tag_prefix: ${{ inputs.tag_prefix }}

################################################################################
################################################################################
