################################################################################
# The setups in this file belong to the project https://code.shin.company/php
# I appreciate you respecting my intellectual efforts in creating them.
# If you intend to copy or use ideas from this project, please credit properly.
# Author:  SHIN Company <shin@shin.company>
# License: https://code.shin.company/php/blob/main/LICENSE
################################################################################

name: Daily build

################################################################################
################################################################################

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  release:
    types: [released]
  pull_request:
    types: [opened]
    paths:
      - 'src/**'
      - '!src/**.md'

################################################################################
################################################################################

jobs:
  prepare:
    runs-on: ubuntu-22.04
    outputs:
      tag_prefix: ${{ steps.init.outputs.tag_prefix }}
      build_all: ${{ steps.init.outputs.build_all == '1' }}
    steps:
      - uses: actions/checkout@v4

      - name: pre-build debug
        id: init
        run: |
          # Prepare variables
          the_day=$(date -u +"%d")
          event_name=${{ github.event_name }}
          ref_type=${{ github.ref_type }}
          ref=${{ github.ref }}
          tag_prefix=$(if [[ $ref_type != 'tag' ]] && [[ $ref != 'refs/heads/main' ]]; then echo 'dev-'; fi)
          build_all=$(if [[ $event_name != 'schedule' ]] || [[ $the_day == '01' ]]; then echo '1'; fi)

          # Cache requests
          . ./build/helpers.sh
          get_github_latest_tag "composer/composer"
          get_github_latest_tag "just-containers/s6-overlay"
          get_github_latest_tag "mlocati/docker-php-extension-installer"
          get_github_latest_tag "nginx/unit"
          get_github_latest_tag "roadrunner-server/roadrunner"
          get_dockerhub_latest_sha "library/debian"
          get_dockerhub_latest_sha "library/alpine"

          distros=(debian alpine)
          variants=(cli fpm zts)
          php_versions=(8.4 8.3 8.2 8.1)

          if [ ! -z "$build_all" ]; then
            php_versions+=(8.0 7.4 7.3 7.2 7.1 7.0 5.6)
          fi

          for distro in "${distros[@]}"; do
            get_dockerhub_latest_sha "library/$distro"
            for version in "${php_versions[@]}"; do
              for variant in "${variants[@]}"; do
                if [ "$distro" == "debian" ]; then
                  get_dockerhub_latest_sha "library/php" 1 "$version-$variant"
                  if [ "$variant" == "zts" ]; then
                    get_dockerhub_latest_sha "dunglas/frankenphp" 1 "1-php$version"
                  fi
                else
                  get_dockerhub_latest_sha "library/php" 1 "$version-$variant-$distro"
                  if [ "$variant" == "zts" ]; then
                    get_dockerhub_latest_sha "dunglas/frankenphp" 1 "1-php$version-$distro"
                  fi
                fi
              done
            done
          done

          # For debugging purposes
          echo "the_day=$the_day" >> "$GITHUB_OUTPUT"
          echo "tag_prefix=$tag_prefix" >> "$GITHUB_OUTPUT"
          echo "build_all=$build_all" >> "$GITHUB_OUTPUT"
          echo "github.event_name = $event_name"
          echo "github.ref_type   = $ref_type"
          echo "github.ref        = $ref"
          echo "tag_prefix        = $tag_prefix"
          echo "build_all         = $(if [ ! -z "$build_all" ]; then echo 'yes, includes outdated versions'; else echo 'no, only maintained versions'; fi)"

      - uses: actions/upload-artifact@v4
        with:
          name: helper_cache
          overwrite: true
          path: /tmp/helper_cache/

  ##########################################################

  s6-overlay:
    uses: ./.github/workflows/template-common.yml
    secrets: inherit
    needs: [prepare]
    with:
      app_name: "base-s6"
      os: "alpine"

  linux-s6:
    name: ${{ matrix.os == '' && 'debian' || matrix.os }}-s6
    uses: ./.github/workflows/template-common.yml
    secrets: inherit
    needs: [prepare]
    strategy:
      fail-fast: false
      matrix:
        os:
          - ""
          - "ubuntu"
          - "alpine"
    with:
      app_name: "base-os"
      os: ${{ matrix.os }}
      tag_prefix: ${{ inputs.tag_prefix }}

  ##########################################################

  php-fpm:
    uses: ./.github/workflows/template-php.yml
    secrets: inherit
    needs: [prepare]
    strategy:
      fail-fast: false
      matrix:
        app:
          - fpm
    with:
      app_name: ${{ matrix.app }}
      tag_prefix: ${{ needs.prepare.outputs.tag_prefix }}
      build_all: ${{ fromJSON(needs.prepare.outputs.build_all) || false }}

  php-cli:
    uses: ./.github/workflows/template-php.yml
    secrets: inherit
    needs: [prepare]
    strategy:
      fail-fast: false
      matrix:
        app:
          - cli
    with:
      app_name: ${{ matrix.app }}
      tag_prefix: ${{ needs.prepare.outputs.tag_prefix }}
      build_all: ${{ fromJSON(needs.prepare.outputs.build_all) || false }}

  php-zts:
    uses: ./.github/workflows/template-php.yml
    secrets: inherit
    needs: [prepare]
    strategy:
      fail-fast: false
      matrix:
        app:
          - zts
    with:
      app_name: ${{ matrix.app }}
      tag_prefix: ${{ needs.prepare.outputs.tag_prefix }}
      build_all: ${{ fromJSON(needs.prepare.outputs.build_all) || false }}

  ##########################################################

  fpm-servers:
    uses: ./.github/workflows/template-php.yml
    secrets: inherit
    needs: [prepare, php-fpm]
    strategy:
      fail-fast: false
      matrix:
        app:
          - with-apache
          - with-nginx
    with:
      app_name: ${{ matrix.app }}
      tag_prefix: ${{ needs.prepare.outputs.tag_prefix }}
      build_all: ${{ fromJSON(needs.prepare.outputs.build_all) || false }}

  zts-servers:
    uses: ./.github/workflows/template-php.yml
    secrets: inherit
    needs: [prepare, php-zts]
    strategy:
      fail-fast: false
      matrix:
        app:
          - with-f8p
          - with-unit
    with:
      app_name: ${{ matrix.app }}
      tag_prefix: ${{ needs.prepare.outputs.tag_prefix }}
      build_all: ${{ fromJSON(needs.prepare.outputs.build_all) || false }}

  cli-servers:
    uses: ./.github/workflows/template-php.yml
    secrets: inherit
    needs: [prepare, php-cli]
    strategy:
      fail-fast: false
      matrix:
        app:
          - with-roadrunner
    with:
      app_name: ${{ matrix.app }}
      tag_prefix: ${{ needs.prepare.outputs.tag_prefix }}
      build_all: ${{ fromJSON(needs.prepare.outputs.build_all) || false }}

  ##########################################################

  popular-frameworks:
    name: ${{ matrix.app }}
    uses: ./.github/workflows/template-php.yml
    secrets: inherit
    needs: [prepare, fpm-servers]
    strategy:
      fail-fast: false
      matrix:
        app:
          - app-bedrock
          - app-cakephp4
          - app-cakephp5
          - app-codeigniter4
          - app-coolify
          - app-drupal
          - app-espocrm
          - app-flarum
          - app-grav
          - app-hyperf
          - app-invoiceshelf
          - app-kirby
          - app-laminas
          - app-laravel
          - app-magento
          - app-mautic
          - app-phpmyadmin
          - app-slim
          - app-statamic
          - app-sulu
          - app-symfony
          - app-wordpress
          - app-yii
        # include:
        #   - app: app-laravel
        #     server: [apache, nginx]
    with:
      app_name: ${{ matrix.app }}
      server: ${{ matrix.server }}
      tag_prefix: ${{ needs.prepare.outputs.tag_prefix }}
      build_all: ${{ fromJSON(needs.prepare.outputs.build_all) || false }}

  other-frameworks:
    name: ${{ matrix.app }}
    uses: ./.github/workflows/template-php.yml
    secrets: inherit
    needs: [prepare, cli-servers]
    strategy:
      fail-fast: false
      matrix:
        app:
          - app-spiral
    with:
      app_name: ${{ matrix.app }}
      tag_prefix: ${{ needs.prepare.outputs.tag_prefix }}
      build_all: ${{ fromJSON(needs.prepare.outputs.build_all) || false }}

################################################################################
################################################################################
