name: Publish Docker (shinsenter/php)

################################################################################
################################################################################

on:
  # pull_request:
  #   types:
  #     - opened
  #     - reopened
  #   branches:
  #     - main
  #   paths:
  #     - '.github/workflows/production.yml'
  #     - 'src/**'
  push:
    branches:
      - main
    paths:
      - '.checksums.sh'
      - '.github/workflows/production.yml'
      - 'src/**'
  schedule:
    - cron: "0 0 * * 0,3"

################################################################################
################################################################################

jobs:
  ##############################################################################
  # Base Ubuntu with S6 Overlay
  ##############################################################################

  base:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        base:
          - ubuntu
        s6:
          - 3.0.0.2-2
        version:
          - 20.04
          - focal
        image:
          - shinsenter/s6-ubuntu
    env:
      DOCKER_BUILDKIT: "1"
    steps:
      - id: config
        run: echo "::set-output name=date::$(date +'%Y%m%d')"
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - run: |
          ./.checksums.sh
          mkdir -p /tmp/buildx
          cat .checksums/base.txt
      - uses: actions/cache@v2
        with:
          path: /tmp/buildx
          key: "${{ runner.os }}-buildx-base-\
            ${{ hashFiles('.checksums/base.txt') }}"
          restore-keys: "${{ runner.os }}-buildx-base-"
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Building ${{ matrix.image }}:${{ matrix.version }}
        uses: docker/build-push-action@v2
        with:
          push: true
          cache-from: type=local,src=/tmp/buildx
          cache-to: type=local,dest=/tmp/buildx-new,mode=max
          context: "{{defaultContext}}:src/base/"
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          build-args: |
            BUILD_NUMBER=${{ steps.config.outputs.date }}-${{ hashFiles('.checksums/base.txt') }}
            BASE_IMAGE=${{ matrix.base }}:${{ matrix.version }}
            S6_VERSION=${{ matrix.s6 }}
          tags: |
            ${{ matrix.image }}:${{ matrix.version }}
            ${{ matrix.image }}:latest
      - run: |
          rm -rf /tmp/buildx
          mv /tmp/buildx-new /tmp/buildx

  ##############################################################################
  # Base PHP-CLI & PHP-FPM
  ##############################################################################

  php:
    needs: base
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        version:
          - "7.4"
          - "8.0"
          - "8.1"
        image:
          - shinsenter/php
    env:
      DOCKER_BUILDKIT: "1"
    steps:
      - id: config
        run: echo "::set-output name=date::$(date +'%Y%m%d')"
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - run: |
          ./.checksums.sh
          mkdir -p /tmp/buildx
          cat .checksums/cli.txt
          cat .checksums/fpm.txt
      - uses: actions/cache@v2
        with:
          path: /tmp/buildx
          key: "${{ runner.os }}-buildx-php-${{ matrix.version }}-\
            ${{ hashFiles('.checksums/cli.txt') }}"
          restore-keys: "${{ runner.os }}-buildx-php-${{ matrix.version }}-"
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Building ${{ matrix.image }}:cli
        uses: docker/build-push-action@v2
        with:
          push: true
          cache-from: type=local,src=/tmp/buildx
          cache-to: type=local,dest=/tmp/buildx,mode=max
          context: "{{defaultContext}}:src/php/cli/"
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          build-args: |
            BUILD_NUMBER=${{ steps.config.outputs.date }}-${{ hashFiles('.checksums/cli.txt') }}
            BASE_IMAGE=shinsenter/s6-ubuntu:focal
            PHP_VERSION=${{ matrix.version }}
          tags: |
            ${{ matrix.image }}:cli
            ${{ matrix.image }}:${{ matrix.version }}
            ${{ matrix.image }}:${{ matrix.version }}-cli
            ${{ matrix.image }}:latest
      - name: Building ${{ matrix.image }}:fpm
        uses: docker/build-push-action@v2
        with:
          push: true
          cache-from: type=local,src=/tmp/buildx
          cache-to: type=local,dest=/tmp/buildx-new,mode=max
          context: "{{defaultContext}}:src/php/fpm/"
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          build-args: |
            BUILD_NUMBER=${{ steps.config.outputs.date }}-${{ hashFiles('.checksums/fpm.txt') }}
            BASE_IMAGE=${{ matrix.image }}
            PHP_VERSION=${{ matrix.version }}
          tags: |
            ${{ matrix.image }}:fpm
            ${{ matrix.image }}:${{ matrix.version }}-fpm
      - run: |
          rm -rf /tmp/buildx
          mv /tmp/buildx-new /tmp/buildx

  ##############################################################################
  # Base PHP Web Servers (Apache or Nginx)
  ##############################################################################

  php-servers:
    needs: php
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        version:
          - "7.4"
          - "8.0"
          - "8.1"
        variation:
          - fpm-apache
          - fpm-nginx
        image:
          - shinsenter/php
    env:
      DOCKER_BUILDKIT: "1"
    steps:
      - id: config
        run: echo "::set-output name=date::$(date +'%Y%m%d')"
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - run: |
          ./.checksums.sh
          mkdir -p /tmp/buildx
          cat .checksums/servers.txt
      - uses: actions/cache@v2
        with:
          path: /tmp/buildx
          key: "${{ runner.os }}-buildx-php-${{ matrix.version }}-${{ matrix.variation }}-\
            ${{ hashFiles('.checksums/servers.txt') }}"
          restore-keys: "${{ runner.os }}-buildx-php-${{ matrix.version }}-"
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Building ${{ matrix.image }}:${{ matrix.variation }}
        uses: docker/build-push-action@v2
        with:
          push: true
          cache-from: type=local,src=/tmp/buildx
          cache-to: type=local,dest=/tmp/buildx-new,mode=max
          context: "{{defaultContext}}:src/servers/${{ matrix.variation }}/"
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          build-args: |
            BUILD_NUMBER=${{ steps.config.outputs.date }}-${{ hashFiles('.checksums/servers.txt') }}
            BASE_IMAGE=${{ matrix.image }}
            PHP_VERSION=${{ matrix.version }}
          tags: |
            ${{ matrix.image }}:${{ matrix.version }}-${{ matrix.variation }}
            ${{ matrix.image }}:${{ matrix.variation }}
      - run: |
          rm -rf /tmp/buildx
          mv /tmp/buildx-new /tmp/buildx

  ##############################################################################
  # PHP-Based Popular Web Applications
  ##############################################################################

  php-webapps:
    needs: php-servers
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 10
      matrix:
        version:
          - "7.4"
          - "8.0"
          - "8.1"
        app:
          - wordpress
          - phpmyadmin
          - laravel
          - codeigniter4
          - symfony
    env:
      DOCKER_BUILDKIT: "1"
    steps:
      - id: config
        run: echo "::set-output name=date::$(date +'%Y%m%d')"
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - run: |
          ./.checksums.sh
          mkdir -p /tmp/buildx
          cat .checksums/webapps.txt
      - uses: actions/cache@v2
        with:
          path: /tmp/buildx
          key: "${{ runner.os }}-buildx-php-${{ matrix.version }}-${{ matrix.app }}-\
            ${{ hashFiles('.checksums/webapps.txt') }}"
          restore-keys: "${{ runner.os }}-buildx-php-${{ matrix.version }}-"
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Building shinsenter/${{ matrix.app }}
        uses: docker/build-push-action@v2
        with:
          push: true
          cache-from: type=local,src=/tmp/buildx
          cache-to: type=local,dest=/tmp/buildx-new,mode=max
          context: "{{defaultContext}}:src/webapps/${{ matrix.app }}/"
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          build-args: |
            BUILD_NUMBER=${{ steps.config.outputs.date }}-${{ hashFiles('.checksums/webapps.txt') }}
            BASE_IMAGE=shinsenter/php
            PHP_VERSION=${{ matrix.version }}
          tags: |
            shinsenter/${{ matrix.app }}:php${{ matrix.version }}
            shinsenter/${{ matrix.app }}:latest
      - run: |
          rm -rf /tmp/buildx
          mv /tmp/buildx-new /tmp/buildx

################################################################################
################################################################################
