################################################################################
# The setups in this file belong to the project https://code.shin.company/php
# I appreciate you respecting my intellectual efforts in creating them.
# If you intend to copy or use ideas from this project, please credit properly.
# Author:  SHIN Company <shin@shin.company>
# License: https://code.shin.company/php/blob/main/LICENSE
################################################################################

name: Build Template PHP

################################################################################
################################################################################

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string

################################################################################
################################################################################

jobs:
  build:
    uses: ./.github/workflows/template-common.yml
    secrets: inherit
    strategy:
      matrix:
        os: ["", "alpine"]
        php_version: ["8.4-rc", "8.3", "8.2", "8.1", "8.0", "7.4", "7.3", "7.2", "7.1", "7.0", "5.6"]
    with:
      app_name: ${{ inputs.app_name }}
      php_version: ${{ matrix.php_version }}
      os: ${{ matrix.os }}
